<!DOCTYPE html>
{% extends 'shop/layouts/base.html' %}
{% load static %}
{% block title %}Vêtements en détail {% endblock title %}
{% block content %}
<div class="containerMax">
    <div class="container">
        <div class="descriptionDetails  ">
            <div class="d-flex" style="margin-top: 2%;">
                <hr style=" width: 35%; size:5px;color:#EBA427;margin-left:auto;margin-right: 15px;margin-top: 3.5%; ">
                <h3 style="padding-top:2%; "> Détails {{ vetements.nom }} </h3>
                <hr style=" width: 35%; size:5px;color:#EBA427;margin-right:auto;margin-left:15px ; margin-top: 3.5%;">
            </div>
            <div class="row g-0 mx-auto rounded" style="width: 80%;height: 50%; ">

                <div class="col-6 col-md-5 ">
                    {% if vetements.nomFichier %}

                    <!--                        Tentative 2 JS-->
                    <div id="imgInfo">
                        <img id="myimage" src="{% static vetements.nomFichier.url %}" alt="{{ vetements.nomFichier }}"
                             class="rounded mx-auto d-block"
                             style=" margin-top: 3%;margin-left: 5%; margin-bottom:3%; width:400px; height: 270px;">


                        <div id="proInfo">
                            <p class="text-uppercase">{{ vetements.nom }} </p>
                            <p style="">Prix : {{ somVet.montant }} CHF</p>
                            <p>Sexe : {{ vetements.sexe }}</p>
                        </div>
                    </div>
                    <!--                        Fin -->

                    {% endif %}
                </div>
                <div class="detailText col-sm-6 col-md-7 fs-5 " style="margin-top: 1%;">


                    <button type="button" class="btn btn-outline-secondary "><a
                            href="{% url 'cart:add_to_cart_vet' vetements.id %}"> Ajouter au panier</a></button>
                    {% if vetements in vetFav %}
                    <a href="{% url 'account:favourite_add_vet' vetements.id %}">
                        <i class="fas fa-heart" style="margin-left: 2%;color: black;"></i>
                    </a>
                    {% else %}
                    <a href="{% url 'account:favourite_add_vet' vetements.id %}">
                        <i class="far fa-heart" style="margin-left: 2%;color: black;"></i>
                    </a>
                    {% endif %}
                    {# Accordion pour plus d'information#}
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item" style="margin-left: 6%;">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button style=" margin-top: 2%;" class="accordion-button collapsed fs-5"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                        aria-expanded="false" aria-controls="flush-collapseOne">
                                    Informations supplémentaires
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>Description : {{ vetements.description }}</p>
                                    <p>Type de tissu : {{ vetements.typeTissu }}</p>
                                    <p>Couleur : {{ vetements.couleur }}</p>
                                    <p>Taille : {{ vetements.taille }}</p>
                                    <p>Poid : {{ vetements.poid }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/>


<!--Tentativ 2 JS CSS -->
<!--<style>-->
<!--.imgInfo {-->
<!--  position: relative;-->
<!--  text-align: center;-->
<!--  color: white;-->
<!--}-->
<!--#proInfo{-->
<!--  position: absolute;-->
<!--  top: 42%;-->
<!--  left: 50%;-->
<!--  transform: translate(-300%, 50%);-->
<!--}-->
<!--</style>-->

<!--<script>-->
<!--    // Variables-->
<!--    var infoImg = document.getElementById('imgInfo');-->
<!--    var image = document.getElementById('myimage');-->
<!--    var info = document.getElementById('proInfo');-->

<!--    function hideInfoMouseOut(){-->
<!--        if(info.style.display !== 'none'){-->
<!--            info.style.display = 'none';-->
<!--        }-->
<!--    }-->

<!--    function appearInfoMouseOver(){-->
<!--        if(hideInfoMouseOut){-->
<!--            info.style.display = 'block';-->
<!--            info.style.backgroundColor = 'rgba(255,255,0,0.6)';-->
<!--            info.style.color = 'black';-->
<!--        }-->
<!--    }-->

<!--    function imageblur(){-->
<!--        image.style.filter = 'blur(5px)';-->
<!--    }-->

<!--    function imageNormal(){-->
<!--        image.style.filter = 'none';-->
<!--    }-->

<!--    function imageEffect(action1, action2){-->
<!--        infoImg.addEventListener("mouseover", action1);-->
<!--        infoImg.addEventListener("mouseout", action2);-->
<!--    }-->
<!--    // Try-->
<!--    function blurImgAppearInfo(firstFun, secFun, thirdFun, action1, action2){-->
<!--        hideInfoMouseOut();-->
<!--        firstFun();-->
<!--        secFun();-->
<!--        thirdFun(action1, action2);-->
<!--    }-->
<!--    // Fin Try-->

<!--    function mouseOver(){-->
<!--        infoImg.addEventListener("mouseover", appearInfoMouseOver);-->
<!--    }-->

<!--    function mouseOut(){-->
<!--        infoImg.addEventListener("mouseout", hideInfoMouseOut);-->
<!--    }-->

<!--    // Call Function!-->
<!--    blurImgAppearInfo(mouseOver, mouseOut, imageEffect, imageblur, imageNormal);-->

<!--</script>-->

<link rel="stylesheet" href="{% static 'css/infoProVetStyle.css' %}">
<script src="{% static 'java/infoProVet.js' %}"></script>


{% include 'shop/layouts/footer_fixed.html' %}
{% endblock %}
