<!DOCTYPE html>

<!--{% extends 'shop/layouts/base.html' %}-->
{% load static %}

{% block title %}Produits d'intérieur {% endblock title %}
{% block content %}
    <div class="containerMax">
        <div class="container">
        <div class="d-flex">
        <hr style=" width: 35%; size:5px;color:#EBA427;margin-left:auto;margin-right: 15px;margin-top: 3%; ">
        <h3 style="padding-top:2%; ">  Les produits d'intérieur </h3>
        <hr style=" width: 35%; size:2px;color:#EBA427;margin-right:auto;margin-left:15px ; margin-top: 3%;">
        </div>
<!--            {% for pri in prix %}-->
<!--            {% for pro in produitInt %}-->
<!--            {% if pri.produit == pro.produit_ptr and pro.produitActif == 1 %}-->
<!--            <div class="card m-3 d-inline-flex" style="width: 25%;">-->

<!--                <div class="card-body">-->
<!--                    <a class="text-decoration-none" href="{% url 'shop:detailsProInt' pro.id %}">-->
<!--                        {% comment %}<img class="cadre" src="{{ pho.url }}" alt="{{ pho.nomFichier }}"-->
<!--                                          style="height:auto;">{% endcomment %}-->
<!--                        {% if pro.nomFichier %}-->
<!--                        <img class="cadre" src="{% static pro.nomFichier.url %}" alt="{{ pro.nomFichier }}"-->
<!--                             style="height:auto;">-->
<!--                        {% endif %}-->
<!--                        <p class="text-uppercase text-center fs-5">-->
<!--                            {{ pro.nom }}-->
<!--                        </p>-->

<!--                        <p class="text-center">{{ pri.montant }} CHF</p>-->
<!--                        &lt;!&ndash; Information pour le a href va nous permetttre de relier avce la page qui sera crée pour le panier&ndash;&gt;-->
<!--                    </a>-->

<!--                </div>-->
<!--            </div>-->
<!--            {% endif %}-->
<!--            {% endfor %}-->
<!--            {% endfor %}-->
            <div id="listPro">
                <div id="produit"></div>
                <div id="buttonPrevious">
                    <input type="button" value="<<">
                </div>
                <div id="buttonNext">
                    <input type="button" value=">>">
                </div>
            </div>
        </div>
    </div>

<br/><br/>

<!--WEBA AJAX-->
<script src="{% static 'java/ajaxWeba.js' %}"></script>
    {% include 'shop/layouts/footer_fixed.html' %}
{% endblock %}



